{% extends "base.html" %}

{% block content %}

<div class="card">

<h2>Problems</h2>

<table>

<thead>
<tr>
<th id="status-header">Status</th>
<th>ID</th>
<th>Title</th>
<th>Difficulty</th>
<th id=""admin-actions>Actions</th>
</tr>
</thead>

<tbody id="problems-body"></tbody>

</table>

<div id="pagination" style="margin-top:20px;"></div>

</div>

<script>

let currentPage = 1;

async function loadProblems(page = 1){

    const token = localStorage.getItem("token");

    const statusHeader = document.getElementById("status-header");
    const body = document.getElementById("problems-body");

    if(!token){
        statusHeader.style.display = "none";
    }

    let options = {};

    if(token){
        options.headers = {
            "Authorization": "Bearer " + token
        };
    }

    const res = await fetch("/problems?page=" + page, options);
    const data = await res.json();

    body.innerHTML = "";

    data.problems.forEach(p => {

        let icon = "";

        if(p.status === "SOLVED") icon = "✅";
        else if(p.status === "ATTEMPTED") icon = "⚠️";

        let row = "";

        if(token){

    const role = localStorage.getItem("role")

    let actions = ""

    if(role === "ADMIN"){
        actions = `
        <button onclick="deleteProblem(${p.id})">Delete</button>
        <button onclick="window.location='/admin/edit-testcase/${p.id}'">
            Edit Testcases
        </button>
        `
    }

    row = `
    <tr>
        <td>${icon}</td>
        <td>${p.id}</td>
        <td><a href="/problem-page/${p.id}">${p.title}</a></td>
        <td class="${p.difficulty}">${p.difficulty}</td>
        <td>${actions}</td>
    </tr>
    `;
}

        body.innerHTML += row;
    });

    const container = document.getElementById("pagination");

    let html = "";

    if(page > 1){
        html += `<button onclick="loadProblems(${page-1})">Prev</button>`;
    }

    html += `<span style="margin:0 10px">Page ${page}</span>`;

    html += `<button onclick="loadProblems(${page+1})">Next</button>`;

    container.innerHTML = html;

}

loadProblems();
async function deleteProblem(problemId){

    if(!confirm("Delete this problem?")) return

    const token = localStorage.getItem("token")

    const res = await fetch(`/admin/problem/${problemId}`,{
        method:"DELETE",
        headers:{
            "Authorization":"Bearer " + token
        }
    })

    const data = await res.json()

    alert(data.message || data.error)

    loadProblems(currentPage)
    const role = localStorage.getItem("role")

if(role !== "ADMIN"){
    const adminHeader = document.getElementById("admin-actions")
    if(adminHeader) adminHeader.style.display="none"
}
}

</script>

{% endblock %}